{
    "telegram": {
        "enabled": true,
        "token": "YOUR_TELEGRAM_BOT_TOKEN",
        "chat_id": "YOUR_TELEGRAM_CHAT_ID",
        "notification_settings": {
            "status": "on",
            "warning": "on",
            "startup": "on",
            "entry": "on",
            "exit": "on",
            "buy_cancel": "on",
            "sell_cancel": "on",
            "entry_fill": "on",
            "exit_fill": "on",
            "protection_trigger": "on",
            "protection_trigger_global": "on",
            "show_candle": "ohlc",
            "strategy_msg": "on"
        },
        "reload": true
    },
    "api_server": {
        "enabled": true,
        "listen_ip_address": "0.0.0.0",
        "listen_port": 8080,
        "verbosity": "error",
        "enable_openapi": false,
        "jwt_secret_key": "cambiar_esta_clave_por_una_segura_para_el_tfg",
        "CORS_origins": [],
        "username": "admin",
        "password": "tfg_password123"
    }
}
